<!-- country-info.component.html -->

<mat-card class="country-card">
  <!-- Título y bandera -->
  <div class="country-header">
    <h1>{{ countryInfo.name }}</h1>
    <img class="flag" [src]="countryInfo.flag" alt="Bandera" />
  </div>

  <!-- Separador horizontal -->
  <hr />

  <!-- Escudo de armas -->
  <img
    class="coat-of-arms"
    [src]="countryInfo.coatOfArms"
    alt="Escudo de armas"
  />

  <!-- Separador horizontal -->
  <hr />

  <!-- Otros campos -->
  <div class="field">
    <strong>Nombre en inglés:</strong> {{ countryInfo.name }}
  </div>
  <div class="field">
    <strong>Continente:</strong> {{ countryInfo.continent }}
  </div>
  <div class="field"><strong>Capital:</strong> {{ countryInfo.capital }}</div>
  <div class="field">
    <strong>Moneda:</strong> {{ countryInfo.currency }} ({{
      countryInfo.symbolCurrency
    }})
  </div>
  <div class="field">
    <strong>Lengua oficial:</strong> {{ countryInfo.language }}
  </div>
  <div class="field">
    <strong>Población:</strong> {{ countryInfo.population }}
  </div>
</mat-card>
