<!-- country-info.component.html -->

<div *ngIf="loading; else content" class="spinner-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<ng-template #content>
  <mat-card class="country-card mat-padding">
    <!-- Título y bandera -->
    <div class="country-header">
      <h1>
        <span class="flag">{{ countryInfo[0].flag }}</span
        >{{ countryInfo[0].name.common }}
      </h1>
    </div>

    <!-- Separador horizontal -->
    <hr />

    <!-- Escudo de armas -->
    <div class="coat-of-arms-containe$refs.name">
      <img
        src="{{ countryInfo[0].coatOfArms.svg }}"
        class="coat-of-arms"
        alt="Escudo de armas"
      />
    </div>

    <!-- Separador horizontal -->
    <hr />

    <!-- Otros campos -->
  </mat-card>
</ng-template>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Mas info </mat-panel-title>
      <mat-panel-description> Pulsar para mas datos </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="field">
      <strong>Nombre en inglés: </strong>{{ countryInfo[0].name.common }}
    </div>
    <div class="field">
      <strong>Continente: </strong>{{ countryInfo[0].continents[0] }}
    </div>
    <div class="field">
      <strong>Capital: </strong>{{ countryInfo[0].capital }}
    </div>
    <div class="field" *ngFor="let currency of getCurrencies(countryInfo[0])">
      <p><strong>Moneda: </strong>{{ currency.code }} ({{ currency.name }})</p>
      <p><strong>Símbolo de la Moneda: </strong>{{ currency.symbol }}</p>
    </div>
    <div class="field">
      <strong>Lengua oficial: </strong>
      <div *ngFor="let key of getLanguages(countryInfo[0]); let i = index">
        {{ key }}
      </div>
    </div>
    <div class="field">
      <strong>Población: </strong>{{ countryInfo[0].population }}
    </div>
  </mat-expansion-panel>
</mat-accordion>
