/* country-info.component.scss */

.country-card {
  width: 400px; /* O ajusta según tus preferencias */
  max-width: 100%;
}

.country-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.flag {
  width: 50px; /* O ajusta según tus preferencias */
  margin-left: 8px;
}

.coat-of-arms {
  width: 100%; /* Ancho completo */
  height: auto; /* Altura automática */
  margin-bottom: 16px;
}

.field {
  margin-bottom: 8px;
}
.field p:first-child {
  /* Estilos para el primer elemento <p> dentro de .field */
  margin-bottom: 8px;
}

.country-header h1 {
  font-weight: bold;
  font-size: x-large;
  margin: 0;
  margin-left: 10px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
