/* styles.scss o tu archivo de estilos */

.mat-margin {
  margin: 16px;
}

.card-row {
  display: flex;
  align-items: center;
}

.id-field {
  font-size: 14px; /* Tamaño de fuente más pequeño para el campo de ID */
  margin-right: 12px; /* Márgenes para separar los campos */
}

.name-field {
  flex-grow: 1; /* Permite que el campo de nombre ocupe todo el espacio restante */
  font-weight: bold; /* Otra estilización según tus preferencias */
}
