<div *ngIf="loading; else content" class="spinner-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<ng-template #content>
  <div *ngFor="let country of countries">
    <mat-card class="mat-margin">
      <mat-card-content>
        <div class="card-row">
          <div class="id-field">{{ country.flag }}</div>
          <div class="name-field">{{ country.name.common }}</div>
          <button (click)="goCountry(country.name.common)">+ Info</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
