<mat-card class="mat-margin">
  <mat-card-content>
    <div class="card-row">
      <div class="id-field">1</div>
      <div class="name-field">Nombre de ejemplo</div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-margin">
  <mat-card-content>
    <div class="card-row">
      <div class="id-field">1</div>
      <div class="name-field">Nombre de ejemplo</div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-margin">
  <mat-card-content>
    <div class="card-row">
      <div class="id-field">1</div>
      <div class="name-field">Nombre de ejemplo</div>
    </div>
  </mat-card-content>
</mat-card>
